/* @import '../theme.css';  /* for Alabaster */

/* Reduce the size of TOC tree caption */
.toc-caption {
    font-size: 18px;
    color: #333;
    font-weight: 700;
    font-family: 'Lato';
    /* Add other custom styles here */
}

/*.toctree-wrapper > p.caption, h2 {
    font-size: 8px !important;
    color: #ff2819;
}
